@import "src/@euronovate-theme/scss/euronovate";

:host {
  width: 100%;
}

.type-icon {
  &.folder {
    &:before {
      content: "folder";
      color: #ffb300;
    }
  }
  &.document {
    &:before {
        content: "insert_drive_file";
        color: #1565c0;
    }
  }
}
.icon-cell {
  width: 60px;
}
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:hover {
  cursor: pointer;
  .action-buttons {
   opacity: 1;
  }
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.list-option-container {
  display: flex;
  align-content: center;

  mat-icon {
    width: 40px;
  }
}

.action-buttons {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 50ms ease-in-out;
}

