<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell 
      *matHeaderCellDef 
      [class.icon-cell]="column === '#'"> 
      {{column}} 
    </th>
    <td mat-cell
      *matCellDef="let element"
      [class.icon-cell]="column === '#'"> 
      <span *ngIf="column !== 'actions'; else showActions">{{element[column]}}</span>
      <mat-icon *ngIf="column === '#' && column !== 'actions'" class="type-icon folder"></mat-icon>
      <ng-template #showActions>
        <div class="action-buttons">
          <button mat-mini-fab color="primary" aria-label="Sign document" (click)="signDossier.emit(element)">
            <mat-icon>gesture</mat-icon>
          </button>
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <mat-selection-list [multiple]="false" style="width: 100%;">
          <mat-list-option *ngFor="let document of element.documents"
            [selected]="selectedDocItem?.name === document.name"
            [value]="document.name"
            (click)="onDocumentSelect(document)">
            <div class="list-option-container">
              <mat-icon class="type-icon document"></mat-icon>
              <div>{{document.name}}</div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="onDossierSelected(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
