<div class="bordered-form" [formGroup]="dossierForm">
  <h3>{{ dossier?.isEdit ? 'Edit' : 'New' }} Dossier</h3>
  <div class="flex-container">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let state of documentStatus; let i = index" [value]="i">{{ state }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="bordered-form" [formGroup]="documentForm" >
  <h3>Add Document</h3>
  <div class="flex-container">
    <en-file-uploader-btn
      [multipleFile]="false"
      [regExpFileName]="'(.*?)\.(pdf)$'"
      (files)="onFileSelected($event)">
    </en-file-uploader-btn>
    <div class="grid-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input readonly matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let state of documentStatus; let i = index" [value]="i">{{ state }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <button mat-fab color="accent"
        [disabled]="documentForm?.invalid"
        (click)="addDocument()">
        <mat-icon *ngIf="!isEdit; else showEditIcon">add</mat-icon>
        <ng-template #showEditIcon>
          <mat-icon>edit</mat-icon>
        </ng-template>
      </button>
    </div>
  </div>

  <div class="flags-container">
    <mat-slide-toggle
      color="accent"
      formControlName="drawSignatureFields">
      Draw signature fields
    </mat-slide-toggle>
    <mat-slide-toggle
      color="accent"
      formControlName="showSignatureFields">
      Show signature fields
    </mat-slide-toggle>
  </div>
</div>

<div class="document-list-header document-grid-container">
  <div>#</div>
  <div>Name</div>
  <div>Status</div>
  <div></div>
</div>
<div class="document-list">
  <div
    matRipple
    [matRippleColor]="'rgba(0,0,0,.1)'"
    [matRippleAnimation]="true"
    class="document-box document-grid-container" 
    *ngFor="let document of documents?.getRawValue(); let i = index"
    [ngClass]="{ 'selected-document': selectedDocument?.documentId === document?.documentId && isSelected }"
    (click)="onDocumentSelect(document, i)">
    <div>{{ i + 1 }}</div>
    <div>{{ document.name }}</div>
    <div>{{ document.status }}</div>
    <button mat-icon-button color="accent" (click)="removeDocument(i)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>

<div class="action-buttons-container">
  <button mat-button class="mr-20" (click)="dialogRef.close()" color="accent">Dismiss</button>
  <button mat-raised-button color="accent" [disabled]="dossierForm.invalid" (click)="dialogRef.close(this.dossierForm.value)">
    {{ dossier?.isEdit ? 'Edit' : 'Create' }}
  </button>
</div>

