<div class="pdf-container">
  <en-pdf-viewer
    [config]="viewerConfig"
    [documentSrc]="document?.url"
    [documentFields]="document?.documentFields"
    [enableHandTool]="canvasDrawerService.enableHandTool"
    (drawDocumentFields)="drawDocumentFields($event)"
    (currentPageElement)="setCurrentPageElement($event)">
  </en-pdf-viewer>
  <div class="actions-buttons-container">
    <en-actions-buttons
      (drawingField)="drawingField()"
      (drawingImage)="createDrawingImage()"
      (drawingFreeHand)="drawingFreeHand()"
      (editField)="editField()"
      (printView)="printView()"
      [config]="actionButtonsConfig">
    </en-actions-buttons>
  </div>
  <ng-template #signForm>
    <en-field-proprieties-menu
      cdkDrag
      [activeDocumentField]="activeDocumentField"
      (formDataChange)="formDataChange($event)"
      (closeMenu)="closeMenu()"
      (deleteSignField)="deleteSignField($event)">
    </en-field-proprieties-menu>
  </ng-template>
</div>

