<div class="layout-grid">
  <octo-navbar></octo-navbar>
  <octo-container [customTemplate]="workflowContainer"></octo-container>
  <octo-footer></octo-footer>
</div>

<ng-template #workflowContainer>
  <to-stepper #stepper divider-color="bg-gray-300" border-color="bg-gray-300" label-color="text-gray-800"
    icon-color="text-blue-900" circle-padding="p-4" show-label="false" has-container="true">
    <to-step
      *ngFor="let step of steps; let i = index"
      [icon]="step.icon"
      [label]="step.name"
      [completed]="step.completed"
      [disabled]="step.disabled"
      [active]="step.active"
      (stepClick)="redirect(step)"
    >
  </to-step>
</to-stepper>

<router-outlet #workflow></router-outlet>

  <div class="flex justify-around mt-10">
    <to-button (btnClick)="prevStep()" size="lg">
      Prev
    </to-button>
    <to-button (btnClick)="nextStep()" size="lg">
      Next
    </to-button>
  </div>

  <to-input type="text" label="text" clearable="true" placeholder="Placeholder" min="3" max="5"
    (inputChange)="testInputChange($event)">
    <to-hint type="error" slot="error">
      You must enter between 3 and 5 characters
    </to-hint>
  </to-input>


</ng-template>