<div class="gradient leading-relaxed tracking-wide flex flex-col">
  <octo-header [customTemplate]="landingPageHeader"></octo-header>
  <octo-container [customTemplate]="landingPageContainer"></octo-container>
  <octo-footer [customTemplate]="ladingPageFooter"></octo-footer>
</div>

<ng-template #landingPageHeader>
  <nav id="header" class="w-full z-30 top-0 text-white py-1 lg:py-6">
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-2 lg:py-6"
    >
      <div class="pl-4 flex items-center">
        <img class="w-24 mr-4" src="assets/img/octopus.png" alt="" />
        <a
          class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
          href="#"
        >
          tailwind-angular-theme
        </a>
      </div>

      <div class="block lg:hidden pr-4">
        <button
          id="nav-toggle"
          class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-green-500 appearance-none focus:outline-none"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>

      <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 text-black p-4 lg:p-0 z-20"
        id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3" *ngFor="let navItem of getNavigationItem()">
            <a
              class="inline-block py-2 px-4 text-black font-bold no-underline"
              href="{{ navItem.url }}"
              >{{ navItem.translate | translate }}</a
            >
          </li>
          <li class="mr-3">
            <a
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
              href="landingpage/login"
              >Sign in</a
            >
          </li>
          <li class="mr-3">
            <a
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
              href="landingpage/register"
              >Sign up</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

</ng-template>

<ng-template #landingPageContainer>


  <router-outlet #landing></router-outlet>
</ng-template>

<ng-template #ladingPageFooter>
  <footer class="bg-white">
    <div class="container mx-auto mt-8 px-8">
      <div class="w-full flex flex-col md:flex-row py-6">
        <div class="flex-1 mb-6">
          <img class="w-40" src="assets/img/octopus.png" alt="" />
          <a
            class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
            href="#"
          >
            tailwind-angular-theme
          </a>
        </div>

        <div class="flex-1">
          <p class="uppercase font-extrabold text-gray-500 md:mb-6">Links</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >FAQ</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Help</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Support</a
              >
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <p class="uppercase font-extrabold text-gray-500 md:mb-6">Legal</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Terms</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Privacy</a
              >
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <p class="uppercase font-extrabold text-gray-500 md:mb-6">Social</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Facebook</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Linkedin</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Twitter</a
              >
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <p class="uppercase font-extrabold text-gray-500 md:mb-6">Company</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Official Blog</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >About Us</a
              >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a
                href="#"
                class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</ng-template>

