<div class="p-6">
  <to-button class="float-right -right-6 -top-6" [type]="'flat'" [color]="'green'" [textColor]="'green'" type="flat" (btnClick)="dismissDrawSignature.emit()">
    <i class="fad fa-times-circle fa-2x"></i>
  </to-button>

  <div class="font-medium text-base text-gray-600 mb-3">Draw your sign:</div>
  <div>
    <canvas #canvasElement class="border-gray-200 border"></canvas>
  </div>
  <div class="flex items-center justify-end mt-2">
    <to-button
      [type]="'outline'"
      [color]="'green'"
      [textColor]="'green'"
      (btnClick)="dismissDrawSignature.emit({ success: false })">
      Cancel
    </to-button>
    <to-button
      class="ml-2"
      [type]="'filled'"
      [color]="'green'"
      [disabled]="!imageData"
      (btnClick)="confirmSignatureDrawn.emit({ success: true, imageBase64: imageData })">
      Confirm
    </to-button>
  </div>
</div>

