<div class="p-6">
  <to-button class="float-right -right-6 -top-6" [textColor]="'blue'" type="flat" (btnClick)="dismissImageCropper.emit()">
    <i class="fad fa-times-circle fa-2x"></i>
  </to-button>

  <div class="font-medium text-base text-gray-600 mb-3">Upload and crop signature images</div>
  <div class="w-full flex items-end justify-evenly">
    <to-button type="filled"  class="mt-4" (btnClick)="inputElement.click()">
      <i class="fad fa-file-image"></i> Select immage
    </to-button>
    <div class="font-medium text-sm text-gray-600">Supported files: PNG, JPEG o JPG.</div>
  </div>
  <div class="my-2">
    <input #inputElement type="file" style="display: none;" accept=".jpeg, .jpg, .png" (change)="uploadImage($event)" />
    <div class="error-text" *ngIf="messageError">{{ messageError }}</div>
      <div *ngIf="imageSrc !== ''" style="display: block; max-width: 500px;">
        <octo-image-cropper
          [imageSrc]="imageSrc"
          (croppedImage)="croppedImage($event)"
        ></octo-image-cropper>
      </div>
  </div>

  <div class="w-full flex items-center justify-end mt-2" *ngIf="imageSrc !== ''">
    <to-button
      class="mr-2"
      type="outline"
      [textColor]="'blue'"
      (btnClick)="dismissImageCropper.emit({ success: false })">
      Cancel
    </to-button>
    <to-button
      appEnterKeyTrigger
      type="filled"
      (btnClick)="confirmCroppedImage.emit({ success: true, imageBase64: imageCropped })">
      Confirm
    </to-button>
  </div>
</div>
