<ng-container *ngIf="formField">
  <to-input
    *ngIf="formField.type === 'text' || formField.type === 'number' || formField.type === 'password'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [formField]="formField"
    [type]="formField.type"
    [clearable]="formField.clearable"
    [placeholder]="formField.placeholder"
    [appearance]="formField.appearance"
    [labelColor]="formField.labelColor"
    [borderColor]="formField.borderColor"
    [placeholderColor]="formField.placeholderColor"
    [textColor]="formField.textColor"
    [backgroundColor]="formField.backgroundColor"
    [value]="formField.value"
    >
    {{ formField.label }}
    <to-hint  slot="hint" type="error">{{ errorMessage }}</to-hint>
  </to-input>

  <to-textarea
    *ngIf="formField.type === 'textarea'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [formField]="formField"
    [label]="formField.label"
    [clearable]="formField.clearable"
    [placeholder]="formField.placeholder"
    [appearance]="formField.appearance"
    [labelColor]="formField.labelColor"
    [borderColor]="formField.borderColor"
    [placeholderColor]="formField.placeholderColor"
    [textColor]="formField.textColor"
    [backgroundColor]="formField.backgroundColor"
    [value]="formField.value" >
    <to-hint *ngIf="errorMessage" slot="hint" type="error">{{ errorMessage }}</to-hint>
  </to-textarea>

  <to-checkbox
    *ngIf="formField.type === 'checkbox'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [formField]="formField"
    [checkboxId]="formField.id"
    [checked]="formField.value"
    [appearance]="formField.appearance"
    [labelColor]="formField.labelColor"
    [borderColor]="formField.borderColor"
    [textColor]="formField.textColor"
    [backgroundColor]="formField.backgroundColor">
    {{ formField.label }}
  </to-checkbox>

  <to-autocomplete
    *ngIf="formField.type === 'autocomplete'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [formField]="formField"
    [type]="formField.type"
    [options]="formField.options"
    [clearable]="formField.clearable"
    [placeholder]="formField.placeholder"
    [appearance]="formField.appearance"
    [labelColor]="formField.labelColor"
    [borderColor]="formField.borderColor"
    [placeholderColor]="formField.placeholderColor"
    [textColor]="formField.textColor"
    [backgroundColor]="formField.backgroundColor"
    [value]="formField.value"
    [multipleSelection]="formField.multipleSelection"
    >

    {{ formField.label }}
  </to-autocomplete>

  <to-select
    *ngIf="formField.type === 'select'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [formField]="formField"
    [options]="formField.options"
    [label]="formField.label"
    [placeholder]="formField.placeholder"
    [appearance]="formField.appearance"
    [labelColor]="formField.labelColor"
    [borderColor]="formField.borderColor"
    [placeholderColor]="formField.placeholderColor"
    [textColor]="formField.textColor"
    [backgroundColor]="formField.backgroundColor"
    [value]="formField.value">
  </to-select>

  <to-toggle
    *ngIf="formField.type === 'toggle'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [formField]="formField"
    [checked]="formField.value">
    {{formField.label}}
  </to-toggle>
</ng-container>
