<ng-container *ngIf="field">
  <to-input
    *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'password'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [type]="field.type"
    [value]="field.value"
    [clearable]="field.clearable"
    [placeholder]="field.placeholder"
    [appearance]="field.appearance"
    [maxLength]="field.validation?.maxLength"
    [minLength]="field.validation?.minLength"
    [regexPattern]="field.validation?.regEx"
    [labelColor]="field.labelColor"
    [borderColor]="field.borderColor"
    [placeholderColor]="field.placeholderColor"
    [textColor]="field.textColor"
    [backgroundColor]="field.backgroundColor">
    {{ field.label }}
    <to-hint slot="hint" type="error">{{ getErrorMessage() }}</to-hint>
  </to-input>

  <to-textarea
    *ngIf="field.type === 'textarea'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [value]="field.value"
    [label]="field.label"
    [clearable]="field.clearable"
    [placeholder]="field.placeholder"
    [appearance]="field.appearance"
    [regexPattern]="field.validation?.regEx"
    [labelColor]="field.labelColor"
    [borderColor]="field.borderColor"
    [placeholderColor]="field.placeholderColor"
    [textColor]="field.textColor"
    [backgroundColor]="field.backgroundColor">
  </to-textarea>

  <to-checkbox
    *ngIf="field.type === 'checkbox'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [checkboxId]="field.id"
    [checked]="field.value"
    [appearance]="field.appearance"
    [labelColor]="field.labelColor"
    [borderColor]="field.borderColor"
    [textColor]="field.textColor"
    [backgroundColor]="field.backgroundColor">
    {{ field.label }}
  </to-checkbox>

  <to-autocomplete
    *ngIf="field.type === 'autocomplete'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [type]="field.type"
    [options]="field.options"
    [value]="field.value"
    [label]="field.label"
    [clearable]="field.clearable"
    [placeholder]="field.placeholder"
    [appearance]="field.appearance"
    [labelColor]="field.labelColor"
    [borderColor]="field.borderColor"
    [placeholderColor]="field.placeholderColor"
    [textColor]="field.textColor"
    [backgroundColor]="field.backgroundColor">
  </to-autocomplete>

  <to-select
    *ngIf="field.type === 'select'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [options]="field.options"
    [label]="field.label"
    [placeholder]="field.placeholder"
    [appearance]="field.appearance"
    [labelColor]="field.labelColor"
    [borderColor]="field.borderColor"
    [placeholderColor]="field.placeholderColor"
    [textColor]="field.textColor"
    [backgroundColor]="field.backgroundColor">
  </to-select>

  <to-toggle
    *ngIf="field.type === 'toggle'"
    octoValueAccessor
    [formControl]="formFieldControl"
    [checked]="field.value">
    {{field.label}}
  </to-toggle>
</ng-container>
