<octo-alert></octo-alert>
<octo-dialog></octo-dialog>
<octo-spinner></octo-spinner>
<router-outlet></router-outlet>

<ng-template #userLockDialog>
  <div class="h-full flex flex-col">
    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10">
          <svg class="h-6 w-6 text-yellow-600"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="w-full mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            Ops! Your session is locked.
          </h3>
          <div class="mt-2">
            <p class="text-sm text-gray-500 mb-3">
              Insert your password to continue.
            </p>
            <to-input type="password" [appearance]="'solid'" [value]="userPassword" (toElementChange)="onPasswordChange($event)">
              Password
            </to-input>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      <to-button [appearance]="'filled'" [color]="'yellow'" (btnClick)="unlockUserSession()">
        Continue
      </to-button>
    </div>
  </div>
</ng-template>
