<div id="pdf-sidebar">
    <div class="h2 p-12">{{ dossierName }}</div>

    <mat-selection-list *ngIf="documents" #docs [multiple]="false" (selectionChange)="documentSelected.emit($event.option.value)">
        <mat-list-option
          appRigthClickTrigger
          *ngFor="let document of documents"
          (rightClick)="handleDocumentConfig($event, document)"
          [style.background-color]="activeDocumentName === document.name ? 'rgba(0,0,0,.12)' : ''"  
          [value]="document">
          <div class="step-item">
              <div class="step-icon">
                <img src="assets/images/pdf-icons/doc-icon.png" />
            </div>
              <div class="step-icon" *ngIf="calculateState(document.documentFields) === 'ENdone'">
                  <img src="assets/images/pdf-icons/file-done.png" />
              </div>
              <div class="step-icon" *ngIf="calculateState(document.documentFields) === 'ENnotDone'">
                  <img src="assets/images/pdf-icons/file.png" />
              </div>
              <div class="step-icon" *ngIf="calculateState(document.documentFields) === 'ENactive'">
                  <img src="assets/images/pdf-icons/file-current-half.png" />
              </div>
              <div class="step-desc">
                  <span>{{ document.name }}</span><!-- [ngClass]="{ 'text-accent': document.name === activeDocument.name }" -->
                  <br />
                  <span *ngIf="document?.documentFields?.length > 0"
                    >{{ "PDFSIDEBAR.SIGNATURE" | translate }}<!-- [ngClass]="{ 'text-accent': document.name === activeDocument.name }" -->
                    {{ calculateSignCompleted(document.documentFields) }}
                    / {{ document?.documentFields?.length }}
                    {{ "PDFSIDEBAR.COMPLETED" | translate }}.</span>
              </div>
          </div>
        </mat-list-option>
    </mat-selection-list>
</div>


