<ngx-extended-pdf-viewer
  [src]="documentSrc"
  useBrowserLocale="true"
  [height]="config.height"
  [showBorders]="config.showBorders"
  [showOpenFileButton]="config.showOpenFileButton"
  [showPrintButton]="config.showPrintButton"
  [showBookmarkButton]="config.showBookmarkButton"
  [showDownloadButton]="config.showDownloadButton"
  [showSecondaryToolbarButton]="config.showSecondaryToolbarButton"
  [showRotateButton]="config.showRotateButton"
  [showHandToolButton]="false"
  [handTool]="enableHandTool"
  (currentZoomFactor)="zoomChange($event)"
  (pagesLoaded)="loadComplete($event)"
  (pageRendered)="pageRendered($event)"
  (pageChange)="pageChange($event)">
</ngx-extended-pdf-viewer>
