<div class="gradient leading-relaxed tracking-wide flex flex-col min-h-screen">
  <octo-header [customTemplate]="configPageHeader"></octo-header>
  <div class="p-5 w-full">
    <to-card [cardTitle]="'Active Configuration'" *ngIf="!editConfig">
      <to-select [options]="options" (toElementChange)="optionChange($event)" >Select config</to-select>

      <json-editor
        [options]="editorOptions"
        [data]="config"
        (change)="change($event)"
        (jsonChange)="jchange($event)"
      ></json-editor>
      <div class="flex flex-wrap w-full p-2 justify-center">
        <to-button class="mx-2" (btnClick)="export()" [color]="'red'"
          >Export</to-button
        >
        <to-button class="mx-2" (btnClick)="editForm()" [color]="'red'"
          >Edit</to-button
        >
      </div>
    </to-card>


    <octo-app-config-form
      (setAppConfig)="setAppConfig($event)"
      [form]="editConfig"
    >
    </octo-app-config-form>

    <!-- <octo-dashboard-config-form 
      (setAppConfig)="setAppConfig($event)" 
      [form]="editConfig"
    >
    </octo-dashboard-config-form> -->

  </div>
</div>

<ng-template #configPageHeader>
  <nav id="header" class="w-full z-30 top-0 py-1 lg:py-6">
    <div
      class="w-full container flex flex-wrap items-center justify-between mt-0 px-2 py-2 lg:py-6"
    >
      <div class="pl-4 flex items-center">
        <img class="w-24 mr-4" src="assets/img/octopus.png" alt="" />
        <a
          class="dark:text-white text-red-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
          href="#"
        >
          Octo Configurator
        </a>
        <octo-theme-select></octo-theme-select>
      </div>

      <div class="block lg:hidden pr-4">
        <button
          id="nav-toggle"
          class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-greocto-500 appearance-none focus:outline-none"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </div>
  </nav>
</ng-template>
