<div *ngIf="form" [class]="form?.class">
  <h2 class="title">{{ form.title }}</h2>
  <ng-container [ngSwitch]="form.mode">
    <ng-container *ngSwitchCase="'full'">
      <div class="grid grid-cols-2 gap-3 m-3 grid-flow-col-dense">
        <octo-section *ngFor="let section of form?.sections" [section]="section"></octo-section>
      </div>
      <div class="text-center">
        <to-button appearance="filled" color="yellow" (click)="submitClick()">
          <i slot="icon-start" class="fad fa-share-square"></i>
          Submit
        </to-button>
      </div>
    </ng-container>
  </ng-container>
</div>
