<form [formGroup]="octoForm" [class]="getFormProp('class')">
  <h2 class="title">{{ getFormProp('title') }}</h2>
  <ng-container [ngSwitch]="getFormProp('mode')">
    <ng-container *ngSwitchCase="'full'">
      <ng-container *ngFor="let section of sectionsFormArrayControls" [formGroup]="section">
        <octo-section [section]="section.value"></octo-section>
      </ng-container>
      <div class="text-center mt-4">
        <button mat-raised-button color="accent">
          Submit
        </button>
      </div>
    </ng-container>
  </ng-container>
</form>
