<to-card [cardTitle]="'Update Parameters'" *ngIf="showForm">
  <octo-form
    [formModel]="dashboardConfigForm"
    (formChange)="formChange($event)"
    (formSubmit)="formSubmit($event)"
  >
  </octo-form>
</to-card>

<button>
  
</button>

<div class="hidden">
  <div #navigationConfigContainerNavbar>
    <octo-navigation-config-form 
      #navigationConfigComponentNavbar
      (newNavigationConfigSubmit)="setNewNavigationConfig($event)"
    >
    </octo-navigation-config-form>
  </div>
</div>

<div class="hidden">
  <div #navigationConfigContainerSidebar>
    <octo-navigation-config-form 
      #navigationConfigComponentSidebar
      (newNavigationConfigSubmit)="setNewNavigationConfig($event)"
    >
    </octo-navigation-config-form>
  </div>
</div>

<div class="hidden">
  <div #navigationConfigContainerFooter>
    <octo-navigation-config-form 
      #navigationConfigComponentFooter
      (newNavigationConfigSubmit)="setNewNavigationConfig($event)"
    >
    </octo-navigation-config-form>
  </div>
</div>