/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~jsoneditor/dist/jsoneditor.min.css";

.layout-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 66px 1fr 69px;
}

.active-sign-field {
  border-style: dashed!important;
  background-color: rgba($color: azure, $alpha: .6)!important;;
}

.unverified-signature-warning {
  display: none ;
}

.cdk-overlay-container {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
}
