<div class="w-full">
  <div class="flex justify-center">
    <img class="w-36" src="/assets/img/octopus.png" alt="" />
  </div>

  <h1
    *ngIf="!isLocked"
    class="mt-12 text-2xl font-semibold tracking-tighter text-red-500 sm:text-3xl title-font"
  >
    Log in to your account
  </h1>
  <h1
    *ngIf="isLocked"
    class="mt-12 text-2xl font-semibold tracking-tighter text-red-500 sm:text-3xl title-font"
  >
    Session locked, log in to your account
  </h1>
  <div class="mt-6" [formGroup]="loginForm">
    <to-input
      octoValueAccessor
      id="email"
      type="email"
      [appearance]="'solid'"
      [placeholder]="'Your email'"
      formControlName="email"
    >
      Email
      <to-hint
        *ngIf="loginForm.get('email').hasError('email')"
        slot="hint"
        type="error"
        >email is not valid!</to-hint
      >
    </to-input>
    <to-input
      octoValueAccessor
      id="psw"
      type="password"
      [appearance]="'solid'"
      [placeholder]="'Your password'"
      formControlName="password"
    >
      Password
    </to-input>
    <div class="flex justify-between items-center mt-2">
      <a
        href="#"
        class="text-sm font-semibold leading-relaxed text-red-500 hover:text-red-700 focus:text-red-700"
        >Forgot Password?</a
      >
      <to-button
        #loginButton
        (btnClick)="login()"
        [disabled]="loginForm.invalid"
        size="lg"
        type="filled"
        color="red"
        text-color="white"
      >
        <i class="fad fa-sign-in-alt" slot="icon-start"></i>
        Log In
      </to-button>
    </div>
  </div>

  <hr class="w-full my-8 border-gray-300" />
  <p class="text-center">
    Need an account?
    <a
      routerLink="/auth/register"
      class="font-semibold text-red-500 hover:text-red-700"
      >Sign Up</a
    >
  </p>
</div>
