<div *ngIf="showPageGroupForm || showChildForm">
  <div class="pb-6">
    <div *ngIf="showPageGroupForm">
      <p class="text-xl pb-3">Navigation config</p>
      <div *ngIf="!showChildForm" [formGroup]="pageGroupConfigForm" class="flex gap-3 items-end">
        <to-input octoValueAccessor formControlName="position" appearance="simple" type="number"
          class="bg-transparent p-0">Position</to-input>
        <to-input octoValueAccessor formControlName="translate" appearance="simple">Translate</to-input>
        <to-input octoValueAccessor formControlName="icon" appearance="simple">Icon</to-input>
        <to-input *ngIf="navigationType==='page'" octoValueAccessor formControlName="url" appearance="simple">Url
        </to-input>
        <to-toggle octoValueAccessor formControlName="hidden" appearance="simple">Hidden</to-toggle>
        <to-button *ngIf="navigationType==='group' && showAddChildButton" (btnClick)="showFormChild()"
          [disabled]="pageGroupConfigForm?.invalid">Add child</to-button>
        <to-button *ngIf="!isEditingMode" (btnClick)="addNavigationItem()"
          [disabled]="pageGroupConfigForm?.invalid || (navigationType==='group' && navigationGroupItems.length === 0)">
          Add item
        </to-button>
        <to-button *ngIf="isEditingMode" color="green" (btnClick)="applyNavigationItemModify()"
          [disabled]="pageGroupConfigForm?.invalid">
          Apply modify
        </to-button>
        <to-button color="red" (btnClick)="cancel('element')">
          Cancel
        </to-button>
      </div>
    </div>

    <div>
      <div *ngIf="showChildForm" [formGroup]="childConfigForm" class="flex gap-3 items-end">
        <to-input octoValueAccessor formControlName="position" appearance="simple" type="number"
          class="bg-transparent p-0">Position</to-input>
        <to-input octoValueAccessor formControlName="translate" appearance="simple">Translate</to-input>
        <to-input octoValueAccessor formControlName="icon" appearance="simple">Icon</to-input>
        <to-input octoValueAccessor formControlName="url" appearance="simple">Url</to-input>
        <to-toggle octoValueAccessor formControlName="hidden" appearance="simple">Hidden</to-toggle>
        <to-button (btnClick)="addChild()" [disabled]="childConfigForm?.invalid">Add</to-button>
        <to-button color="red" (btnClick)="cancel('child')">
          Cancel
        </to-button>
      </div>
      <!-- <div class="pt-5 flex justify-end">
        <to-button class="pr-2" (btnClick)="closeForm.emit()">Close</to-button>
        <to-button class="pl-2" (btnClick)="submitNewConfiguration()">Ok</to-button>
      </div> -->
    </div>
  </div>
</div>


<div class="w-2/3">
  <div class="headerList">
    <h1>Pages</h1>
    <div>
      <to-button (btnClick)="addPage()" color="white"><i class="fas fa-plus text-yellow-400"></i></to-button>
      <to-button (btnClick)="showPageList=!showPageList" color="white"><i class="fas fa-chevron-down text-green-600"></i></to-button>
    </div>
  </div>
  <div *ngIf="showPageList" class="listContainer">
    <ng-container *ngFor="let page of navigationPageItemsTemp" >
      <div class="elementList">
        <div>
          {{page.url}}
        </div>
        <div class="flex">
          <to-button (btnClick)="editPage(page)" color="white"><i class="far fa-edit text-yellow-400"></i></to-button>
          <to-button (btnClick)="deleteItem(page)" color="white"><i class="fas fa-trash text-red-500"></i></to-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="w-2/3">
  <div class="headerList">
    <h1>Groups</h1>
    <div>
      <to-button (btnClick)="addGroup()" color="white"><i class="fas fa-plus text-yellow-400"></i></to-button>
      <to-button (btnClick)="showGroupList=!showGroupList" color="white"><i class="fas fa-chevron-down text-green-600"></i></to-button>
    </div>
  </div>
  <div *ngIf="showGroupList" class="listContainer">
    <ng-container *ngFor="let group of navigationGroupItemsTemp">
      <div class="elementList">
        <div>{{group.icon}}</div>
        <div class="flex">
          <to-button (btnClick)="editGroup(group)" color="white"><i class="far fa-edit text-yellow-400"></i></to-button>
          <to-button (btnClick)="deleteGroup(group)" color="white"><i class="fas fa-trash text-red-500"></i></to-button>
          <to-button (btnClick)="showGroupPageList=!showGroupPageList" color="white"><i class="fas fa-chevron-down text-green-600"></i></to-button>
        </div>
      </div>
      <div *ngIf="showGroupPageList">
        <ng-container *ngFor="let page of group.children">
          <div class="elementList">
            <div>
              {{page.url}}
            </div>
            <div class="flex">
              <to-button (btnClick)="editPage(page)" color="white"><i class="far fa-edit text-yellow-400"></i></to-button>
              <to-button (btnClick)="deleteItem(page)" color="white"><i class="fas fa-trash text-red-500"></i></to-button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>